<div class="container" style="display: flex; flex-grow: 1">
  <div class="container">
      <h1> 🎮   {{partida.estado}}</h1>
      <h3> ✅  Letras acertadas: {{partida.aciertos}}</h3>
      <h3> ❌  Errores: {{partida.errores}}</h3>
  </div>

  <div class="container">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Arriesgar</mat-label>
      <input matInput  type="text" #arriesgarInput [disabled]="partida.codigoEstado !== 0">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="arriesgar(arriesgarInput.value); arriesgarInput.value=''" appearance="fill" [disabled]="partida.codigoEstado !== 0">
      Arriesgar
    </button>
  </div>

  <div class="container">
    <mat-spinner mode="determinate" [value]="partida.progreso"></mat-spinner>
  </div>

</div>

<div class="container" *ngIf="partida.codigoEstado === 1">
  <p class="mat-display-2">🔥🔥Felicitaciones, ha ganado la partida.</p>
  <a mat-raised-button href="newgame" color="primary" appearance="fill">
    Jugar otra vez
  </a>
</div>
<div class="container" *ngIf="partida.codigoEstado === -1">
  <p class="mat-display-2">😢Ha perdido la partida.</p>
  <a mat-raised-button href="newgame" color="primary" appearance="fill">
    Jugar otra vez
  </a>
</div>
